@use "variables" as *;

button {
    cursor: pointer;
    height: 56px;
    font-size: 16px;
    line-height: 20px;
    border: 0px;
    font-weight: $ft-700;
}

.bg-cyan {
    padding: 0 2.3rem;
    color: white;
    background-color: $light-cyan;
    border-radius: 33.5px;
    transition: all .3s ease-out;

    &:hover {
        background-color: $dark-cyan;
    }

}

hr {
    border: none;
    height: 0.5px;
    background-color: #ccc;
    width: 100px;
    margin: 0 auto;
}

.card {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 24px;
}

input[type="radio"] {
    display: none;

    &:checked + .radio--radio::after {
        transform: scale(1);
    }

}

.radio--radio {
    position: relative;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 4px;

    &::after {
        content: "";
        // position: absolute;
        height: 100%;
        width: 100%;
        display: block;
        transform: scale(0);
        border-radius: 50%;
        background-color: $light-cyan;
    }
}

input[type="text"] {
    outline: none;
    border: none;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 2em;
    height: 2em;
}