@use "sass" as *;

main {
    position: relative;
    padding-top: 2rem;
    height: 300px;
    background: url(./images/image-hero-mobile.jpg) center/cover no-repeat;

    .container {
        @extend %container;

        nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;

            ul {
                z-index: 1;
                position: absolute;
                background-color: white;
                border-radius: 8px;
                width: 100%;
                bottom: 0; left: 0;
                transform: translate(-150%, 110%);
                transition: transform .3s ease-out;

                li {
                    height: 70px;
                    padding: 24px;
                }
                
                li:not(:last-child) {
                    box-shadow: inset 0 0px 1px hsla(0, 0%, 18%, 0.4);
                }

            }

            .toggle {
                cursor: pointer;
                transform: scale(1.1);
            }

        }

    }

}

//Event handler => toggle
.container ul.is-open {
    transform: translate(0, 110%);
}

//======================//
//=====MAIN SECTION=====//
//======================//

.mastercraft {
    @extend %container;
    @extend %section-container;
    margin-top: -56px;
    text-align: center;
    padding: 56px 24px 40px;
    position: relative;

    p {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .button-content {
        display: flex;
        justify-content: space-around;

        .bookmark {
            cursor: pointer;
            display: flex;
            align-items: center;
            background-color: #2e2e2e1a;
            border-radius: 33.5px;

            button {
                display: none;
                background-color: transparent;
                padding: 0 24px 0 16px;
            }
        }
    }
}

// Hover effects on BOOKMARK
.bookmark:hover  {
    background-color: #2f2f2f1a;

    svg g {
        circle {
            fill: #707070;
        }

        path {
            fill: #B1B1B1;
        }
    }

    button {
        color: #7A7A7A;
    }

}

//========================//
//=====SECTION REVIEW=====//
//========================//

.information {
    @extend %container;
    @extend %section-container;
    padding-bottom: 24px;
    padding-top: 8px;
    text-align: center;

    li {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        line-height: 18px;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .bar {
        position: relative;
        width: 100%;
        height: 12px;
        background-color: #2f2f2f1a;
        border-radius: 99px;
        overflow: hidden;

        .green {
            background-color: $light-cyan;
            height: 100%;
            width: 70%;
            border-radius: 99px;
        }

    }

}

//======================//
//=====FORM SECTION=====//
//======================//

.about {
    @extend %container;
    @extend %section-container;
    padding-bottom: 24px;

    header {
        padding: 40px 0 35px;

        p {
            margin-top: 20px;
        }

    }

    .card {
    
        .title-content {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .select-content {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 24px;

            p {
                display: flex;
                align-items: center;

                strong {
                    margin-right: 8px;
                }

            }

        }
    }
}

.card.out-of-stock {
    opacity: 0.5;
    pointer-events: none;

    .bg-cyan {
        background-color: #2F2F2F;
        opacity: 0.5;
    }
}

//===================//
//====FIXED MODAL====//
//===================//

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    overflow-y: scroll;
    scrollbar-width: none;
    bottom: 120px;
    top: 121px;
    right: 24px; left: 24px;
    padding: 24px;
    border-radius: 8px;
    background-color: #fff;

    h3:first-child {
        display: inline-flex;
        align-items: center;
        width: 100%;

        svg {
            margin-left: auto;
            cursor: pointer;

            &:hover path{
                opacity: 1;
            }
        }

        & + p {
            margin: 24px 0;
        }

    }

    &::-webkit-scrollbar {
        display: none;
    }



    label.card {
        cursor: pointer;

        header {
            display: inline-flex;
            align-items: center;
    
            .radio--radio {
                flex-shrink: 0;
            }

            .subtitle {
                margin-left: 1rem;
            }
        }   

        p + p {
            font-size: 15px;

            strong {
                font-size: 18px;
            }

        }

    }

}

label.card:hover header{
    h3 {
        color: $light-cyan;
    }

    .radio--radio {
        border: 1px solid $light-cyan;
    }

}

//=====================//
//====PLEDGE SUBMIT====//
//=====================//

.submit--content {
    text-align: center;
    border-top: 1px solid #00000030;
    padding: 1rem;
}

.submit--content_pledge {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
    margin-top: 1rem;
    & > .bg-cyan {
        padding: 0 1rem;
    }
}

label[class="pledge-label"] {
    border-radius: 33.5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    position: relative;
    width: 100px;
    height: 56px;

    &::after {
        content: "$";
        font-size: 14px;
        opacity: .5;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(150%, -50%);
    }

}

//=====================//
//==THANK-YOU SECTION==//
//=====================//

.support {
    display: none;
    position: fixed;
    left: 24px; right: 24px;
    padding: 24px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;

    & > *:not(:last-child) {
        margin-bottom: 24px;
    }
}


//=====================//
//====MEDIA QUERIES====//
//=====================//


@media screen and (min-width: 800px) {
    main {
        background: url(./images/image-hero-desktop.jpg) center/cover no-repeat;
    }

    .about {

        .card {
    
            .title-content {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }

            .select-content {
                flex-direction: row;
                justify-content: space-between;
            }
    
        }
    }
}







